In [1]:
# for loop is used when number of iterations are known 
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
# while loop is used when numer of iterations are not defined and is executed until condition becomes false 
i=10
while i>1:
    i-=1
    print(i)

9
8
7
6
5
4
3
2
1

In [3]:
result=0            #SUM OF FIRST 10 NATURAL NUMBERS USING FOR LOOP
for i in range(1,11):
    result=result+i
result

55

In [5]:
product=1              #PRODUCT OF FIRST 10 NATURAL NUMBERS USING FOR LOOP
for i in range(1,11):
    product=product*i
product

3628800

In [6]:
i=1          #SUM OF FIRST 10 NATURAL NUMBERS USING WHILE LOOP
result=0
while i<=10:
    result=result+i
    i+=1
print(result)

55

In [7]:
i=1          #PRODUCT OF FIRST 10 NATURAL NUMBERS USING WHILE LOOP
result=1
while i<=10:
    result=result*i
    i+=1
print(result)

3628800

In [1]:
result=0
units=int(input("Enter the units of electricity: "))

if units<=100:
    result= units*4.5
    
elif units<=200:
    result=(100*4.5)+(units-100)*6
    
elif units<=300:
    result=(100*4.5)+(100*6)+(units-200)*10

else:
    result=(100*4.5)+(100*6)+(100*10)+(units-300)*20
    
print(int(result))

Enter the units of electricity:  310

2250

In [2]:
m=1             #LIST USING FOR LOOP
l1=[]
for i in range(1,101,1):
    m=i*i*i
    if m%4==0 or m%5==0:
        l1.append(m)

In [3]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [4]:
m=1              #LIST USING WHILE LOOP
l1=[]
i=1
while i<=100:
    m=i*i*i
    i+=1
    if m%4==0 or m%5==0:
        l1.append(m)

In [5]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [4]:
string="I want to become a data scientist"
count=0
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count+=1
    else:
        count+=0
print(count)

11